@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    @apply bg-gray-400/5;
    color: #fff;
    -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {        
    font: 400 1rem;
    font-family: Roboto, sans-serif;
}

@media (max-width: 768px){
    html{
        font-size: 87.5%;
    }
}
